WindowsFormsWCF/Connected Services/WCFService1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55736/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55736/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WebAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdd" />
  </wsdl:message>
  <wsdl:message name="IService_WebAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WebSoustraction_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSoustraction" />
  </wsdl:message>
  <wsdl:message name="IService_WebSoustraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSoustractionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WebMultiply_InputMessage">
    <wsdl:part name="parameters" element="tns:WebMultiply" />
  </wsdl:message>
  <wsdl:message name="IService_WebMultiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebMultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WebDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:WebDivision" />
  </wsdl:message>
  <wsdl:message name="IService_WebDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebDivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WebAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WebAdd" message="tns:IService_WebAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WebAddResponse" message="tns:IService_WebAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSoustraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WebSoustraction" message="tns:IService_WebSoustraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WebSoustractionResponse" message="tns:IService_WebSoustraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebMultiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WebMultiply" message="tns:IService_WebMultiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WebMultiplyResponse" message="tns:IService_WebMultiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WebDivision" message="tns:IService_WebDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WebDivisionResponse" message="tns:IService_WebDivision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebAdd">
      <soap:operation soapAction="http://tempuri.org/IService/WebAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSoustraction">
      <soap:operation soapAction="http://tempuri.org/IService/WebSoustraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMultiply">
      <soap:operation soapAction="http://tempuri.org/IService/WebMultiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebDivision">
      <soap:operation soapAction="http://tempuri.org/IService/WebDivision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55736/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>